.content{
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -144px; 
  }
  .content:after {
    content: "";
    display: block;
  }

  .footer, .content:after {
    height: 144px; 
  }

  
.footer{
    background-color: #305f72;
}