.content{
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -144px; 
  }
  .content:after {
    content: "";
    display: block;
  }

  .footer, .content:after {
    height: 144px; 
  }

  
.footer{
    background-color: #305f72;
}

.info-container{
  height: 144px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: white;
}

