<head>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
</head>

<div class="home-background" id ='projectspage'>
    <div class ="row">
       <div class ="left-content">
        
       </div>

        <div class = "midlle-content">
           
           <div class = "home-greeting-container">
              <div class="lucy-container">
                <div class="lucy">Come Build With Me</div>
                </div>

                <div class ="img-container">
                  <img src= "\assets\sandCastle.png"/>
                </div>
            </div>
        </div>

        <div class ="right-content"></div>
    </div>
</div>
