<head>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
</head>

<div class="home-background" id ='projectspage'>
    <div class ="row">
       <div class ="left-content">
        
       </div>

        <div class = "midlle-content">
           
           <div class = "home-greeting-container">
              <div class="lucy-container">
                <div class="lucy">Contact</div>
                </div>
              
              <div class="message-container">
                  <p><span style="color:#EBBBA6">Software</span> Developer based in 
                    <span style="color:#EBBBA6">sunny </span>Orlando, Florida</p>
             </div>
        </div>
        </div>

        <div class ="right-content"></div>
    </div>
</div>
