
.home-background{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row{
 /* row has to be tall enough
     for no white space 
     between it and the footer */
    height: 911px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #568ea6;
}

.left-content{
    flex-grow: 1;
    height: 100%;
}

.middle-content{
    flex-grow: 1;
    height: 100%;
}

.right-content{
    flex-grow: 1;
    height: 100%;
}

.home-greeting-container{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lucy-container{
    width: 100%;
    font-size: clamp(40px, 8vw, 80px);
    
  }


.lucy{
    width: 100%;
    height: 100px;
    font-family:'Ubuntu', sans-serif;
    color: white;
}

.message-container{
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(20px, 3vw, 40px);
  }

 p{
    color: white;
}

.img-container{
    width: 208px;
    height: 194px;
}

img{
    object-fit: cover;
    width: 100%;
}