
<!--Main container-->
<div class ="layout-box">
   
<!--Navbar-->
<div class = "navbar" [class.sticky] = "sticky">
  <a href="#contact" class="contact" routerLink='/contact'>Contact</a>
  <a href="#experience" class="experience" routerLink='/experience'>Experience</a>
  <a href="#projects" class="projects" id="projects" routerLink='/projects'>Projects</a>
  <a href="#home" class="hello">Hello</a>

  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <!--this is a place for us to add side-nav code-->
    </mat-sidenav>
    <mat-sidenav-content>
      <!--in here all the content must reside. We will add a navigation header as well-->
    
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<!--This is where the page content is injected-->
<div class="page-content">
<router-outlet></router-outlet>
<app-footer></app-footer>
</div>