
<!--Main container-->
<div class ="layout-box">
   
<!-- Hide the navbar when the screen is smaller than 767 pixels, hide hamburger menu when screen is bigger than 767 pixels-->
<style>
  @media (max-width: 767px) {
    .navbar{
      display: none;
    }

    .social-icons-top{
      display: none;
    }

   /* Hide the color change class*/
    .navbar-color-change{
      display: none;
    }
  }

  @media (min-width: 767px) {
    app-hamburger-menu {
      display: none;
    }
  }
</style>

<!--Navbar-->
<div class = "navbar"  (scroll)="handleScroll"[ngClass]="{'sticky' : isSticky, 'navbar-color-change': changeColor}">
  <div class = "navbar-content">
  
  <ng2-pdfjs-viewer pdfSrc="\assets\woodmanResume.pdf"></ng2-pdfjs-viewer>
  <a href="#contact" class="contact" routerLink='/contact'>Contact</a>
  <a href="#experience" class="experience" routerLink='/experience'>Experience</a>
  <a href="#projects" class="projects" id="projects" routerLink='/projects'>Projects</a>
  <a href="#home" class="hello">Hello</a>

  <!--Social media icons-->
  <div class ="social-media-icons">
    <div class ="linkedin-icon"><img src= "\assets\linkedInWhite.png" href="#linkedin" class="linkedin" (click)="redirectLinkedIn()"></div>
    <div class ="github-icon"><img src="\assets\GitHub-Mark-Light-32px.png" href="#github" class="github" (click)="redirectGitHub()"/></div>
  </div>
</div>

</div>

<!-- Hamburger Menu-->
<app-hamburger-menu></app-hamburger-menu>
<!--This is the excess space for the navbar to be sticky -->
<div class = "navbar-excess">

</div> 

<!--This is where the page content is injected-->
<div class="page-content">

<router-outlet></router-outlet>
<app-footer></app-footer>
</div>