
.layout-box{
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.navbar{
    width: 100%;
    background-color: #568ea6;
    height: 60px;
}

.navbar a{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    float: right;
    color: white;
    text-decoration: none;
    padding: 25px 25px;
}

.navbar a:hover{

    color: #EBBBA6;
}
mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
    background-color: black;
}
mat-sidenav {
    width: 250px;
    background-color: black;
}
main {
    padding: 10px;
}
.sticky{
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 10;
  }