
.layout-box{
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-grow: 1;
}

.navbar{
    width: 100%;
    background-color: #568ea6;
    height: 40px;
}

.navbar a{
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    text-align: center;
    float: right;
    color: white;
    text-decoration: none;
    padding: 25px 20px;
}

