
.background{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row{
   /* row has to be tall enough
     for no white space 
     between it and the footer */
    height: 911px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #568ea6;
}


.greeting-container{
    margin-top: 5%;
}

.job-container{
    font-size: clamp(25px, 4vw, 40px);
    line-height: 110%;
    overflow-wrap: inherit;
    font-family:'Ubuntu', sans-serif;
    color: white;

  }

  .date{
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(20px, 3vw, 20px);
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
  }
.message-container{
    display: table;
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(20px, 3vw, 23px);
    color: white;
    width: 50vw;
  }

  ul li{
    margin: 40px;
  }
  
  /* Media query for mobile screens */
  @media screen and (max-width: 992px) {
     .background{
       flex-direction: row;
     }
     .row{
       height: auto;
     }

     .job-container{
       width: 100%;
       height: auto;
     }

     .date{
       width: 100%;
     }

     .greeting-container{
       width: 80%;
       margin-top: 20%;
       margin-bottom: 5%;
     }

     ul li{
       width: 100%;
     }
    
  }
