
.background{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row{
   /* row has to be tall enough
     for no white space 
     between it and the footer */
    height: 911px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #568ea6;
}

.left-content{
    flex-grow: 1;
    height: 100%;
}

.middle-content{
    flex-grow: 1;
    height: 100%;
}

.right-content{
    flex-grow: 1;
    height: 100%;
}

.greeting-container{
    margin-top: 12%;
}

.job-container{
    width: 100%;
    font-size: clamp(10px, 4vw, 40px);
    line-height: 110%;
    font-family:'Ubuntu', sans-serif;
    color: white;
  }

  .date{
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(5px, 3vw, 20px);
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
  }
.message-container{
    display: table;
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(20px, 3vw, 15px);
    color: white;
    width: 50vw;
  }

  ul li{
      margin: 40px;
  }