
.home-background{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 15%;
}

.row{
    /* row has to be tall enough
     for no white space 
     between it and the footer */
    height: calc(100vh - 20px);
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #568ea6;
}

.left-content{
    flex-grow: 1;
    height: 100%;
}

.middle-content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-grow: 1;
    height: 100%;
    justify-content: flex-end;
}
.right-content{
    flex-grow: 1;
    height: 100%;
    align-items:flex-end;
}

.home-greeting-container{
    display: flex;
    flex-direction: column;
    padding-top: 26%;
    padding-right: 30px;
}

.lucy-container{
    font-size: clamp(35px, 11vw, 90px);
    padding: none;
  }

.lucy{
    height: 95px;
    width: 100%;
    font-family:'Ubuntu', sans-serif;
    color: white;
    
}

.message-container{
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(15px, 4vw, 25px);
    line-height: normal;
  }

  .software-engineer{
      color: white;
  }

  .sunny-orlando{
      color: white;
  }
  
  .contact-button-container{
      padding-top: 10%;
  }
  .button1{
      padding: 20px 35px;
      background-color: #E1C0C0;
      color: #305f72;
      border: none;
      outline: none;
      border-radius: 10px;
      font-size: 15px;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      transition-duration: 0.4s;
      cursor: pointer;
  }

  .button1:hover{
      background-color: #EBBBA6;
  }

.lucy-image{
    padding-top: 10%;
    width: 500px;
    height: 500px;
    display: flex;
}

img{
    object-fit: cover;
}
/* For mobile */
@media only screen and (max-width: 767px) {
    
    .middle-content{
       padding-top: 20%;
    }
  }