<head>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
</head>

<div class="home-background">
    <div class ="row">
       <div class = "middle-content">
            <div class="lucy-container">
              <div class="lucy">Lucy Woodman</div>
            </div>
          
            <div class="message-container">
                <div class = "software-engineer">Software Developer Based In </div>
                <span></span>
                <div class ="sunny-orlando">Sunny Orlando, Florida</div>
            </div>

            <div class="contact-button-container">
            <a href="mailto:lucywoodman1@gmail.com">
             <button class ="button1">Contact Me</button>
             </a>
            </div>
       </div>

        <div class ="right-content">
           <div class ="lucy-image">
               <img src="\assets\lucyGrey.png"/>
           </div>
        </div>
    </div>
</div>
