
.home-background{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 15%;
}

.row{
    /* row has to be tall enough
     for no white space 
     between it and the footer */
    height: calc(100vh - 20px);
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #568ea6;
}

.middle-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 50%;
    padding-left: 100px;
}
.right-content{
    width: 50%;
    height: 100%;
}

.lucy-container{
    font-size: clamp(35px, 11vw, 90px);
    line-height: normal;
  }

.lucy{
    width: 100%;
    font-family:'Ubuntu', sans-serif;
    color: white;
    
}

.message-container{
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(15px, 4vw, 25px);
    line-height: normal;
    margin-top: 5%;
  }

  .software-engineer{
      color: white;
  }

  .sunny-orlando{
      color: white;
  }
  
  .button1{
      margin-top: 5%;
      padding: 20px 35px;
      background-color: #E1C0C0;
      color: #305f72;
      border: none;
      outline: none;
      border-radius: 10px;
      font-size: 15px;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      transition-duration: 0.4s;
      cursor: pointer;
  }

  .button1:hover{
      background-color: #EBBBA6;
  }

.lucy-image{
    padding-top: 10%;
    width: 70%;
    height: 70%;
    display: flex;
}

img{
    object-fit: cover;
}
/* For mobile */
@media only screen and (max-width: 767px) {
    
    .middle-content{
       padding-top: 20%;
    }

   .row{
       flex-direction: column;
   }

   .home-greeting-container{
       padding-top: none;
   }

   .message-container{
       padding-top: 10%;
   }
  }
