<head>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
</head>

<div class="home-background" id ='projectspage'>
    <div class ="row">
  
            <div class = "project-1" style="width:300px;height:300px;">
              <img src= "\assets\florian-klauer-t1mqA3V3-7g-unsplash.jpg"/>
           </div>

 
          <div class = "project-2"style="width:300px;height:300px;">
            <img src= "\assets\gilles-rolland-monnet-NRRmVMuMs94-unsplash.jpg"/>
          </div>


    
          <div class = "project-3"style="width:300px;height:300px;">
             <img src= "\assets\gilles-rolland-monnet-NRRmVMuMs94-unsplash.jpg"/>
          </div>
        <button (click)="alertFunction()">Click here</button>
        <app-modal></app-modal>
    </div>
</div>