<mat-sidenav-container [hasBackdrop]="false"id=hamburger-container>
  <!--Conent of the sidenav-->
    <mat-sidenav-content>
      
      <!--Links-->
      <ul id ="nav-links"> 
        <a href="#resume" class=resume><li>Resume</li></a>
        <a href="#hello" class=hello><li>Hello</li></a>
        <a href="#projects" class=projects id="projects" routerLink='/projects'><li>Projects</li></a>
        <a href="#experience" class=experience id="experience" routerLink='/experience'><li>Experience</li></a>
        <a href="#contact" class=contact id="contact" routerLink='/contact'><li>Contact</li></a>
      </ul>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
<!--Toolbar-->
  <mat-toolbar>
    <button #menubutton mat-icon-button (click)="showHideMenuOnClick(menubutton)">
      <mat-icon [ngStyle]="{'color':'#EBBBA6'}">menu</mat-icon>
    </button>
  </mat-toolbar>