<mat-sidenav-container [hasBackdrop]="false">
    <mat-sidenav appResponsiveSidenav #start [mode]="'over'">
      <ul id ="nav-links">
        <li>Hello</li>
        <li>Projects</li>
        <li>Experience</li>
        <li> Contact</li>
      </ul>
      <!--this is a place for us to add side-nav code-->
      
    </mat-sidenav>
    <mat-sidenav-content>
      <!--in here all the content must reside. We will add a navigation header as well-->
      <mat-toolbar>
        <button mat-icon-button (click)="start.toggle()">
          <mat-icon [ngStyle]="{'color':'#EBBBA6'}">menu</mat-icon>
        </button>
      </mat-toolbar>
  
    </mat-sidenav-content>
  </mat-sidenav-container>
