mat-sidenav-container{
    height: 100vh;
    display:block;
    position: absolute;
    width: 0;
}
mat-toolbar {
    background: #568ea6;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

mat-sidenav-content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 80px;   
    height: 100%;
    font-size: 2rem;    
}

#nav-links li {
    padding: 5px;
    padding-left: 15px;
    text-align: left;
    list-style-type: none;
}

#nav-links a{
    text-decoration: none;
    color: #568ea6;
    padding: 10px;
}

#nav-links li:hover{
    color: #f18c8e;
}

button{
    border: none;
    background: transparent;
    padding-top: 20px;
}
