mat-sidenav-container{
    height: 100vh;
    display:block;
    position: absolute;
    width: 0;
}
mat-toolbar {
    background: #568ea6;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

mat-sidenav-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 250px;
    font-size: 2rem;
}
mat-sidenav {
    border-right: none;
    padding-right: 15px;
    text-align:end;
    top: 0;
    left: 0;
    width: 250px;
    margin-bottom: 0;
}

#nav-links li {
    padding: 5px;
    padding-left: 15px;
    text-align: left;
}

#nav-links a{
    text-decoration: none;
    color: #568ea6;
}

#nav-links li:hover{
    color: #f18c8e;
}

button{
    border: none;
    background: transparent;
    padding-top: 20px;
}

.close{
    color: #f18c8e;
    font-size: 20px;
    font-weight: bold;
}