
.modal{
    height: 500px;
    width: 500px;
}

.close{
 
    float: right;
    outline: none;
    border: none;
    font-size: 25px;
    padding: 0px 7px;
    background-color: white;
    color: #EBBBA6;
}

.close:hover{
    cursor:pointer;
}
